{% block user_block %}
    <a href="/logout" class="btn-default" style="padding-left: 10px; padding-right: 10px; font-size: 24px; display: block">logout
        <i class="fa fa-sign-out pull-right"></i>
    </a>
{% endblock %}
