{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Clubs</h2>
    <!-- Blog Listing -->
    <div class="listing">
        <h5>- 3 clubs:</h5>
        <p><table>
            <tr>
                <td><h5>*_Club sportive (4 equipes sportives)</h5></td>

            </tr>
            <tr>

                <td><h5>*_Club d'informatique et internet </h5></td>


            </tr>
            <tr>

                <td><h5>*_Club de Sante</h5></td>

            </tr>
        </table></p>

    </div>
{% endblock %}