{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Enseignant</h2>
    <!-- Blog Listing -->
    <div class="listing">
        <div class="course_listing">
            <ul class="listheading">
                <li class="code colr">Nom</li>
                <li class="coursename colr">spécialité</li>
                <li class="coursename colr">Email</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>
            <ul class="courselisting">
                <li class="code colr">Mohamed Mejri</li>
                <li class="coursename colr">Informatique</li>
                <li class="coursename colr">mohamed_mejri@gmail.com</li>
            </ul>

            <div class="clear"></div>
        </div>


    </div>
{% endblock %}