{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Enseignant</h2>
    <!-- Blog Listing -->
    <div class="listing">
<h5>Listes des enseignants:</h5>
        <p><table>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
            <tr><td><h5>Nom: </h5></td>
                <td><h5>Ahmed Mejri</h5></td>
                <td>_____________________________________</td>
                <td><h5>Email:</h5></td>
                <td><h5>ahmed@gmail.com</h5></td>
            </tr>
        </table></p>


    </div>
{% endblock %}