{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Galerie photos</h2>
    <!-- Blog Listing -->
    <div class="listing">
        <ul>
            <li><a href="images/gallery1.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery1.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery3.gif" rel="galleryimg" class="galleryimg"> <img src="images/gallery3.gif"
                                                                                        alt=""/></a>
                <a href="images/gallery4.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery4.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery5.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery5.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery6.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery6.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery7.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery7.gif"
                                                                                       alt=""/></a></li>

            <li><a href="images/gallery1.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery1.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery3.gif" rel="galleryimg" class="galleryimg"> <img src="images/gallery3.gif"
                                                                                        alt=""/></a>
                <a href="images/gallery4.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery4.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery5.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery5.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery6.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery6.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery7.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery7.gif"
                                                                                       alt=""/></a></li>


            <li><a href="images/gallery1.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery1.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery3.gif" rel="galleryimg" class="galleryimg"> <img src="images/gallery3.gif"
                                                                                        alt=""/></a>
                <a href="images/gallery4.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery4.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery5.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery5.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery6.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery6.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery7.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery7.gif"
                                                                                       alt=""/></a></li>


            <li><a href="images/gallery1.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery1.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery3.gif" rel="galleryimg" class="galleryimg"> <img src="images/gallery3.gif"
                                                                                        alt=""/></a>
                <a href="images/gallery4.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery4.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery5.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery5.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery6.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery6.gif"
                                                                                       alt=""/></a>
                <a href="images/gallery7.gif" rel="galleryimg" class="galleryimg"><img src="images/gallery7.gif"
                                                                                       alt=""/></a></li>
        </ul>
    </div>
{% endblock %}
