
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>College</title>
    <!-- Stylesheet -->
    <link href="css/style.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="css/ddsmoothmenu.css"/>
    <link rel="stylesheet" type="text/css" href="css/jquery.fancybox-1.3.4.css" media="screen"/>
    <!-- Javascript -->
    <script src="js/jquery.min.js" type="text/javascript"></script>
    <script src="js/ddsmoothmenu.js" type="text/javascript"></script>
    <script src="js/contentslider.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/jcarousellite_1.0.1.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.1.js"></script>
    <script type="text/javascript" src="js/cufon-yui.js"></script>
    <script type="text/javascript" src="js/DIN_500.font.js"></script>
    <script type="text/javascript" src="js/menu.js"></script>
    <script type="text/javascript" src="js/tabs.js"></script>
    <script type="text/javascript" src="js/jquery.mousewheel-3.0.4.pack.js"></script>
    <script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>

    <script type="text/javascript" src="js/map.js"></script>

</head>
<body>
<div id="bg">
    <!-- Wapper Sec -->
    <div id="wrapper_sec">
        <!-- masterhead -->
        <div id="masterhead">
            <!-- Logo -->
            <div class="socail_networks">
                <ul>
                    <li class="servcies">Rejoignez nous sur</li>
                    <li><a href="https://www.facebook.com/pages/Lyc%C3%A9e-el-ahd-el-jadid-Thala/170218076321546"><img src="images/facebook_icon.gif" alt=""/> </a></li>
                    <li><a href="contact.html"><img src="images/social_icon.gif" alt=""/> </a></li>
                    <li><a href="#"><img src="images/linkedin_icon.gif" alt=""/> </a></li>
                    <li><a href="#"><img src="images/twitter_icon.gif" alt=""/> </a></li>
                    <li><a href="#"><img src="images/rssfeed_icon.gif" alt=""/> </a></li>

                </ul>
            </div>
            <div class="logo"><a href="index.html"><img src="images/logo.png" alt=""/></a></div>
            <div class="clear"></div>
            <!-- Navigation -->
            <div class="navigation">
                <div id="smoothmenu1" class="ddsmoothmenu">
                    <ul>
                        <li class="first"><a class="selected" href="index.html">Accueil</a></li>
                        <li><a href="#">Lycée</a>
                            <ul>
                                <li><a href="presentation.html">Présentation</a></li>
                                <li><a href="enseignant.html">Enseignant</a></li>
                                <li><a href="galerie_photos.html">Galerie photos</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Départements</a>
                            <ul>
                                <li><a href="dép_informatique.html">Informatique</a></li>
                                <li><a href="dép_physique.html">Physique</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Formation</a>
                            <ul>
                                <li><a href="for_informatique.html">Informatique</a></li>
                                <li><a href="for_lettre.html">Lettre</a></li>
                                <li><a href="for_mathématique.html">Mathématique</a></li>
                                <li><a href="for_science.html">Science</a></li>
                                <li><a href="for_economie_gestion.html">Economie-Gestion </a></li>
                            </ul>
                        </li>
                        <li><a href="#">Vie scolaire</a>
                            <ul>
                                <li><a href="clubs.html">Clubs</a></li>
                                <li><a href="manifestation.html">Manifestation</a></li>
                            </ul>
                        </li>
                        <li><a href="forum.html">forum</a></li>
                        <li><a href="planning.html">Plan de site</a></li>
                        <li><a href="bibliotheque.html">Bibliothèque</a></li>
                        <li><a href="contact.html" class="last">Contact</a></li>
                    </ul>
                </div>
                <!-- navigation ends -->
                <div class="clear"></div>
            </div>
        </div>
        <!-- Content Seciton -->
        <div id="content_section">
            <!-- Col1 -->
            <div class="col1">
                <!-- Banner -->
                <div id="banner">
                    <div id="slider2">
                        <div class="contentdiv">
                            <a href="#"><img src="images/banner.jpg" alt=""/></a>
                            <div class="banner_des">
                                <h4>Lycee</h4>

                            </div>
                        </div>
                        <div class="contentdiv">
                            <a href="#"><img src="images/banner1.jpg" alt=""/></a>
                            <div class="banner_des">
                                <h4>Departement Informatique</h4>

                            </div>
                        </div>
                        <div class="contentdiv">
                            <a href="#"><img src="images/banner2.jpg" alt=""/></a>
                            <div class="banner_des">
                                <h4>Departement Physique</h4>

                            </div>
                        </div>
                        <div class="contentdiv">
                            <a href="#"><img src="images/banner3.jpg" alt=""/></a>
                            <div class="banner_des">
                                <h4>clubs Sportif</h4>

                            </div>
                        </div>
                        <div class="contentdiv">
                            <a href="#"><img src="images/banner4.jpg" alt=""/></a>
                            <div class="banner_des">
                                <h4>Departement Mathematique</h4>

                            </div>
                        </div>
                    </div>
                    <div id="paginate-slider2" class="pagination">
                    </div>
                    <script type="text/javascript" src="js/slider.js"></script>

                </div>

                <!-- Content Block -->
                <div class="contentblock">
                    <!-- Tabs -->
                    <div class="tabwrapper">
                        <div class="online_classes">
                            <div class="crheading">
                                <h5 class="olineclasses"><span class="cufon-alt">Galerie photos</span></h5>

                            </div>
                            <ul>
                                <li>
                                    <div class="thumb"><a href="galerie_photos.html"><img src="images/ourcollege1.jpg" alt=""></a></div>
                                    <div class="description">
                                        <h6><a href="galerie_photos.html"><span class="cufon-alt">Galerier photos</span></a></h6>
                                        <a class="gray"><em>(2012-2013)</em></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb"><a href="galerie_photos.html"><img src="images/ourcollege1.jpg" alt=""></a></div>
                                    <div class="description">
                                        <h6><a href="galerie_photos.html"><span class="cufon-alt">Galerier photos</span></a></h6>
                                        <a class="gray"><em>(2013-2014)</em></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb"><a href="galerie_photos.html"><img src="images/ourcollege1.jpg" alt=""></a></div>
                                    <div class="description">
                                        <h6><a href="galerie_photos.html"><span class="cufon-alt">Galerier photos</span></a></h6>
                                        <a class="gray"><em>(2014-2015)</em></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="thumb"><a href="galerie_photos.html"><img src="images/ourcollege1.jpg" alt=""></a></div>
                                    <div class="description">
                                        <h6><a href="galerie_photos.html"><span class="cufon-alt">Galerier photos</span></a></h6>
                                        <a class="gray"><em>(2015-2016)</em></a>
                                    </div>
                                </li>
                                <li class="nobg">
                                    <div class="thumb"><a href="galerie_photos.html"><img src="images/ourcollege1.jpg" alt=""></a></div>
                                    <div class="description">
                                        <h6><a href="galerie_photos.html"><span class="cufon-alt">Galerier photos</span></a></h6>
                                        <a class="gray"><em>(2016-2017)</em></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="archive">
                            <h5><span class="cufon-alt">Pratique</span></h5>
                            <ul>
                                <li><a href="#">Plan d'accès</a></li>
                                <li><a href="#">Contacts</a></li>
                                <li><a href="#">Annuaire</a></li>
                                <li><a href="#">Enseignants</a></li>
                                <li><a href="#">Recrutement</a></li>
                                <li><a href="#">Médiathèque</a></li>
                                <li><a href="#">Téléchargement</a></li>


                            </ul>
                        </div>
                        <div class="archive">
                            <h5><span class="cufon-alt">Dernières mise à jour</span></h5>
                            <ul>
                                <li><a href="#">Emploi de temps ----- [10/04/2017]</a></li>
                                <li><a href="#">Clubs ----------------- [10/04/2017]</a></li>



                            </ul>
                        </div>

                    </div>
                    <!-- Search Course -->
                    <div class="news">
                        <div class="title"> Actualités</div>
                        <div class="box">
                            <div class="item">

                                <div class="enteteArticle flexContent">
                                    <div class="article-title">
                                        <a href="javascript:void(0)">
                                            <img alt="" src="http://www.fsegma.rnu.tn/images/new_icon.gif"><a href="#"> مناظرة إعادة التوجيه </a>

                                            <li>تعلم ادارة المعهد كافة التلاميذ أنّها تنظّم مناظرة إعادة التوجيه</li>
                                        </a>
                                    </div>
                                    <div class="article-date">

                                        <span class="d">18/02/2017</span>

                                    </div>

                                </div>
                                <div class="article-body">
                                    <div class="article-description">
                                        <p>
                                            <a href="#" class="nice small radius more_special blue button"><span>Détails</span></a>

                                    </div>
                                    <!--<div class="read">
                                        <a href="">
                                            <?/*= t($lang,"front","DETAILS");*/?>
                                        </a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="item">

                                <div class="enteteArticle flexContent">
                                    <div class="article-title">
                                        <a href="javascript:void(0)">
                                            <img alt="" src="http://www.fsegma.rnu.tn/images/new_icon.gif"><li><a href="#">Mise à Jour de l'Emplois de temps </li></a>

                                        <li>Bac informatique</li>


                                        </a>
                                    </div>
                                    <div class="article-date">
                                        <span class="d">18/02/2017</span>

                                    </div>

                                </div>
                                <div class="article-body">
                                    <div class="article-description">
                                        <p>
                                            <a href="#" class="nice small radius more_special blue button"><span>Détails</span></a>
                                    </div>
                                    <!--<div class="read">
                                        <a href="">
                                            <?/*= t($lang,"front","DETAILS");*/?>
                                        </a>
                                    </div>-->
                                </div>
                            </div>
                            <div class="item">

                                <div class="enteteArticle flexContent">
                                    <div class="article-title">
                                        <a href="javascript:void(0)">
                                            <img alt="" src="http://www.fsegma.rnu.tn/images/new_icon.gif"><li><a href="#">Mise à Jour de l'Emplois de temps </li></a>
                                        <li>2ème année Economie-Gestion</li>
                                        </a>
                                    </div>
                                    <div class="article-date">
                                        <span class="d">18/02/2017</span>

                                    </div>

                                </div>
                                <div class="article-body">
                                    <div class="article-description">
                                        <p>
                                            <a href="#" class="nice small radius more_special blue button"><span>Détails</span></a>
                                    </div>
                                    <!--<div class="read">
                                        <a href="">
                                            <?/*= t($lang,"front","DETAILS");*/?>
                                        </a>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                        <div class="pginaiton pad9">
                            <ul>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#">6</a></li>
                                <li><a href="#">7</a></li>
                                <li class="dots"> . . . . . . .</li>
                                <li><a href="#"> 22</a></li>
                                <li class="nextpage"><a href="#">Next Page</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <!-- col1 ends -->
            </div>
            <!-- Col2 -->
            <div class="col2">
                <!-- Top Student -->
                <div class="rtab">
                    <div class="rtab">
                        <div class="rtab_content" id="rtab1" style="display:none;">
                            <div class="form">
                                <a class="poste" href="compte_élève.html"><span class="cufon-alt"> Bienvenue <li>SOUIBGUI HOSNI</li><li>__________________</li>
                                <li>___________</li><li>______</li><li>Accéder à votre compte</li> </span></a>

                            </div>

                            <div class="clear"></div>
                        </div>



                </div>
                <!-- Our College Gallery -->
                <div class="college_call">
                    <section class="container">
                        <div class="call">
                            <div class="archive">
                                <h5><span class="cufon-alt">Calendrier</span></h5>
                            </div>
                        </div>

                        <table class="cal">
                            <caption>
                                <span class="prev"><a href="index.html">&larr;</a></span>
                                Janvier 2017
                                <span class="next"><a href="index.html">&rarr;</a></span>
                            </caption>
                            <thead>
                            <tr>
                                <th>Lun</th>
                                <th>Mar</th>
                                <th>Mer</th>
                                <th>Jeu</th>
                                <th>Ven</th>
                                <th>Sam</th>
                                <th>Dim</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="off"><a href="index.html">26</a></td>
                                <td class="off"><a href="index.html">27</a></td>
                                <td class="off"><a href="index.html">28</a></td>
                                <td class="off"><a href="index.html">29</a></td>
                                <td class="off"><a href="index.html">30</a></td>
                                <td class="off"><a href="index.html">31</a></td>
                                <td><a href="index.html">1</a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">2</a></td>
                                <td><a href="index.html">3</a></td>
                                <td><a href="index.html">4</a></td>
                                <td><a href="index.html">5</a></td>
                                <td><a href="index.html">6</a></td>
                                <td><a href="index.html">7</a></td>
                                <td><a href="index.html">8</a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">9</a></td>
                                <td><a href="index.html">10</a></td>
                                <td><a href="index.html">11</a></td>
                                <td><a href="index.html">12</a></td>
                                <td><a href="index.html">13</a></td>
                                <td><a href="index.html">14</a></td>
                                <td><a href="index.html">15</a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">16</a></td>
                                <td><a href="index.html">17</a></td>
                                <td><a href="index.html">18</a></td>
                                <td><a href="index.html">19</a></td>
                                <td><a href="index.html">20</a></td>
                                <td><a href="index.html">21</a></td>
                                <td><a href="index.html">22</a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">23</a></td>
                                <td><a href="index.html">24</a></td>
                                <td><a href="index.html">25</a></td>
                                <td><a href="index.html">26</a></td>
                                <td><a href="index.html">27</a></td>
                                <td><a href="index.html">28</a></td>
                                <td class="active"><a href="index.html">29</a></td>
                            </tr>
                            <tr>
                                <td><a href="index.html">30</a></td>
                                <td><a href="index.html">31</a></td>
                                <td class="off"><a href="index.html">1</a></td>
                                <td class="off"><a href="index.html">2</a></td>
                                <td class="off"><a href="index.html">3</a></td>
                                <td class="off"><a href="index.html">4</a></td>
                                <td class="off"><a href="index.html">5</a></td>
                            </tr>
                            </tbody>
                        </table>
                    </section>
                </div>
                <div class="clear"></div>
                <!--stat -->
                <div class="online_classes">
                    <div class="crheading">
                        <h5 class="download"><span class="cufon-alt">Cours en ligne</span></h5>

                    </div>
                    <ul>
                        <li>
                            <div class="thumb"><a href="cours_en_ligne.html"><img src="images/pdf_icon.png" alt=""></a></div>
                            <div class="description">
                                <h6><a href="cours_en_ligne.html"><span class="cufon-alt">Cours 1ère année</span></a></h6>
                                <a class="gray1"><em>(2016-2017)</em></a>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><a href="cours_en_ligne.html"><img src="images/pdf_icon.png" alt=""></a></div>
                            <div class="description">
                                <h6><a href="cours_en_ligne.html"><span class="cufon-alt">Cours 2ème année</span></a></h6>
                                <a class="gray1"><em>(2016-2017)</em></a>
                            </div>
                        </li>
                        <li>
                            <div class="thumb"><a href="cours_en_ligne.html"><img src="images/pdf_icon.png" alt=""></a></div>
                            <div class="description">
                                <h6><a href="cours_en_ligne.html"><span class="cufon-alt">Cours 3ème année</span></a></h6>
                                <a class="gray1"><em>(2016-2017)</em></a>
                            </div>
                        </li>
                        <li class="nobg">
                            <div class="thumb"><a href="cours_en_ligne.html"><img src="images/pdf_icon.png" alt=""></a></div>
                            <div class="description">
                                <h6><a href="cours_en_ligne.html"><span class="cufon-alt">Cours Baccalauréat</span></a></h6>
                                <a class="gray1"><em>(2016-2017)</em></a>
                            </div>
                        </li>
                    </ul>
                </div>
                <!--mise a jour -->
                <div class="archive">
                    <h5><span class="cufon-alt">Statistiques des visiteurs</span></h5>
                    <ul>
                        <li><a href="#">Aujourd'hui ---------------------3</a></li>
                        <li><a href="#">Hier -----------------------------61</a></li>
                        <li><a href="#">Annuaire -----------------------176</a></li>
                        <li><a href="#">La semaine dernière -----------445</a></li>
                        <li><a href="#">Ce mois -------------------------176</a></li>
                        <li><a href="#">Total ----------------------------54540</a></li>
                        <li><a href="#">Connecté maintenant----------5</a></li>

                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <!-- Slder -->

        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Footer Section -->
<div id="bottom_seciton">
    <div id="footer">
        <!--Find your way -->
        <div class="find_your_way">
            <h5>Lycee</h5>
            <ul>
                <li><a href="presentation.html">Presentation</a></li>
                <li><a href="enseignant.html">Enseignant</a></li>
                <li><a href="galerie_photos.html">Galerie photos</a></li>

            </ul>
        </div>
        <!-- Help and Support -->
        <div class="help_support">
            <h5>Departement</h5>
            <ul>
                <li><a href="dép_informatique.html">Informatique</a></li>
                <li><a href="dép_physique.html">Physique</a></li>

            </ul>
        </div>
        <!-- Quick Links -->
        <div class="quick_links">
            <h5>Formation</h5>
            <ul>
                <li><a href="for_informatique.html">Informatique</a></li>
                <li><a href="for_lettre.html">Lettre</a></li>
                <li><a href="for_mathématique.html">Mathématique</a></li>
                <li><a href="for_science.html">Science</a></li>
                <li><a href="for_economie_gestion.html">Econmie-Gestion</a></li>
            </ul>
        </div>
        <!-- Addmission -->
        <div class="Addmissoin">
            <h5>Vie Soclaire</h5>
            <ul>
                <li><a href="clubs.html">Clubs</a></li>
                <li><a href="manifestation.html">Manifestation</a></li>

            </ul>
        </div>
        <!-- Contact Us -->
        <div class="contact_us">
            <h5>Contact Us</h5>
            <ul>
                <li class="telephone_no">(+126) 71 555 555</li>

                <li class="email_address">hosni201190@gmail.com</li>
                <li class="googlemaps"><a href="https://www.google.fr/maps/place/Lyc%C3%A9e+Elahid+Elajadid/
                @35.5956504,8.6575601,17z/data=!3m1!4b1!4m5!3m4!1s0x12f97d532a248591:0x412f98baac91895f!8m2!3d35.5956504!4d8.6597488">Localisation</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>
<!-- Bototm seciton -->
<div id="bottom_Section">
    <!-- page bottm -->
    <div id="pagebottom">
        <!-- copyright -->
        <div class="copyright">&copy; 2017 <a href="index.html">Site de Lycee</a></div>
        <a href="#" class="top">Haut</a>
        <!-- Social Networks -->
        <div class="socail_networks">
            <ul>
                <li class="servcies">Rejoignez nous sur</li>
                <li><a href="https://www.facebook.com/pages/Lyc%C3%A9e-el-ahd-el-jadid-Thala/170218076321546"><img src="images/facebook_icon.gif" alt=""/> </a></li>
                <li><a href="contact.html"><img src="images/social_icon.gif" alt=""/> </a></li>
                <li><a href="#"><img src="images/linkedin_icon.gif" alt=""/> </a></li>
                <li><a href="#"><img src="images/twitter_icon.gif" alt=""/> </a></li>
                <li><a href="#"><img src="images/rssfeed_icon.gif" alt=""/> </a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>


</body>
</html>




