{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Plan de site</h2>
    <!-- Blog Listing -->
    <div class="listing">
        <a href="#"><img src="images/plan.png" alt=""/></a>


    </div>
{% endblock %}