{% extends 'layout_2.html.twig' %}

{% block content %}
    <h2 class="pad8">Presentation</h2>
    <!-- Blog Listing -->
    <div class="listing">
        <p> A partir de la rentrée 2017, le lycée Al-Ahed Al-Al Jadid sera l'un des 50 premiers établissements tunisienne</p>

            <p>Les manuels papiers traditionnels seront remplacés par des manuels numériques, accessibles en ligne via l'ENT de l'établissement et téléchargeables. Les élèves pourront accéder aux ressources numériques en fonction des besoins pédagogiques de chaque enseignant.<p/>

           <p> Le fonctionnement habituel de la classe ne subira pas de modification majeure : les élèves continueront à écrire, à rédiger, à utiliser leurs supports de prise de notes papier, à rendre leurs devoirs sur des copies papier.</p>


           <p> TOUS les élèves de la seconde à la Terminale auront accès gratuitement à ces manuels numériques. Afin de démarrer l'année dans les meilleures conditions, ils auront besoin, dès la rentrée, d'un matériel informatique dit "nomade" : privilégiez un ordinateur portable (en raison notamment des logiciels utilisés par les enseignants) de type bureautique, adapté aux usages traditionnels.</p>

    </div>
{% endblock %}