<div class="rtab">
    <div class="rtab_content" id="rtab1">
        <form class="form" action="{{ path('fos_user_security_check') }}" method="post">
            <div class="post_new_blog txtcufon">
                <span class="cufon-alt">Espace Intranet </span>
            </div>
            {% if csrf_token %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
            {% endif %}
            <ul class="inquiryform">
                {% if error %}
                    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <li>
                    <input type="text" id="username" name="_username" placeholder="Login" required="required"
                           autocomplete="off">
                </li>
                <li>
                    <input type="password" id="password" name="_password" required="required"
                           placeholder="Mot de passe"
                           autocomplete="off">
                </li>
                <div class="remember_me" style="margin-left: 10px; padding-bottom: 5px;">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Remember</label>
                </div>
            </ul>
            <input type="submit" class="btn1" value="Connexion">
            <a class="forgot" href="#">Mot de passe oublié</a>
        </form>

        <div class="clear"></div>
    </div>
</div>
