{% extends 'layout_eleve.html.twig' %}

{% block content_profile %}
    {% if bulletin %}
        <object class="view-pdf" data="{{ vich_uploader_asset(bulletin.file, 'fileFile') }}"></object>
    {% else %}
        <h3>Aucune Bulletin</h3>
    {% endif %}

{% endblock %}