{% extends 'layout_eleve.html.twig' %}

{% block content_profile %}
    {% if emploi %}
        <object class="view-pdf" data="{{ vich_uploader_asset(emploi.file, 'fileFile') }}"></object>
    {% else %}
        <h3>Aucune Emploi du Temps</h3>
    {% endif %}
{% endblock %}